<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IVelibSoapService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5050/VelibSoapService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IVelibSoapService"
                contract="ServiceReference1.IVelibSoapService" name="WSDualHttpBinding_IVelibSoapService">
                <identity>
                    <userPrincipalName value="SERVEUR-AFC-ADR\piernov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>